{% extends "base.html" %}
{% block title %} Sign Up {% endblock %}
{% block content %}
    <form action="sign-up" method="post">
        <h3 align="center" style="color: white;">Sign Up</h3>
        <div  class="form-group col-sm-6 my-1">
            <h5 class="text-danger">
                {{error}}
            </h5>
        </div>
        <div class="form-group col-sm-6 my-1" >
            <label for="email" style="color: white;">Email Adress </label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
        </div>

        <div class="form-group col-sm-6 my-1">
            <label for="firstName" style="color: white;">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter your First Name" required>
        </div>
        <div class="form-group col-sm-6 my-1">
            <label for="last_name" style="color: white;">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter your Last Name" required>
        </div>

        <div class="form-group col-sm-6 my-1">
            <label for="password1" style="color: white;">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter your Password" required>
        </div>

        <div class="form-group col-sm-6 my-1">
            <label for="password2" style="color: white;">Confirm Password</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
{% endblock %}